#container{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    position:fixed;
    top:0;
    left: 0;
    display: grid;
    grid-template-columns: auto 350px 100px;
    grid-template-rows: auto 400px;
    grid-template-areas: "head head"
    "nav  chatarea";
}
#chatbotarea{
    grid-area: chatarea;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chatbot{   
    width: 90%;
    height: 95%;
    border-radius: 15px;
    box-shadow:0 13px 27px -5px rgba(50,50,93,.25),
    0 8px 16px -8px rgba(0,0,0,.3),
    0 -6px 16px -6px rgba(0,0,0,.025);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px auto 65px;
    grid-template-areas: "headchat"
    "chatbody"
    "textinput";
}
#chatbothead{
    grid-area:headchat;
    background-color: #006595;
    border-radius: 15px 15px 0 0;
    justify-content: space-between;
    align-items: center;
    display:flex;
}
#chatbothead > p{
    color: white;
    font-size: 20px;
    padding-left: 1rem;  
}
.icon_minim {
    padding-left: 10px;
    margin-right: 15px;
    height: 5%;
    background-color: white;
} 
#chatbotmessage{
    grid-area:chatbody;
    display: grid;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;
    resize: none;
    padding: 1rem;
    scroll-behavior: smooth;
}
#chatbot > footer{
    grid-area:textinput;
    border-radius: 0 0 15px 15px;
    display:grid;
    align-items: center;
    font-size: 14px;
    margin-left: 20px;
}
#input{
    outline: 0;
    border: 0;
    background-color: transparent;
}
#btn{
    color: #006595;
    padding-left: 50px;
    background: transparent;
    border: 0;
}
.fa-2x {
    font-size: 1.5rem;
}
.img_size{
    width: 50%;
    height: 50%;
    padding-top: 65%;
}
@media only screen and (min-device-width: 320px) 
and (max-device-width: 340px) 
and (-webkit-min-device-pixel-ratio: 2){
  #chatbotarea{
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-template-areas:"chatarea";
  }
  #footer{
    padding: 5px !important;
    top: 50% !important;
  }
  #btn{
      color: #006595;
      padding-left: 10px;
      background: transparent;
      border: 0;
  }
  #chatbot{   
      width: 75%;
      height: 95%;
  }
}
@media only screen and (min-device-width: 350px) 
and (max-device-width: 370px) 
and (-webkit-min-device-pixel-ratio: 2){
  #chatbotarea{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"chatarea";
  }
  #chatbot{   
      width: 75%;
      height: 95%;
  }
  #footer{
    padding: 5px !important;
    top: 70% !important;
  }
  #btn{
      color: #006595;
      padding-left: 20px;
      background: transparent;
      border: 0;
  }
}
@media only screen and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2){
  #chatbotarea{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"chatarea";
  }
  #footer{
    padding: 5px !important;
    top: 80% !important;
  }
  #btn{
    color: #006595;
    padding-left: 20px;
    background: transparent;
    border: 0;
  }  
}
@media only screen and (max-device-width: 700px){
  #chatbotarea{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"chatarea";
  }
  #footer{
      padding: 5px;
      top: 67%;
    }
}
